// Core (Main Style)

// icon
.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: currentColor;
}

// 見出し
@mixin section-line {
    content: "";
    display: block;
    background: $light;
    width: 18px;
    height: 1px;
    margin-top: .4em;
}

@mixin section-header-border {
    text-transform: uppercase;
    margin: 0 0 1em 0;
    &:after {
        content: "";
        display: block;
        background: $base;
        width: 18px;
        height: 1px;
        margin-top: .2em;
    }
}

.section-header {
    font-size: 300%;
    font-weight: 300;
    @include section-header-border;
}

.section {
    margin-bottom: 4em;
}

// リスト（ソーシャルアカウントとか）
.list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: .4em 0;
    }

}

// header

.cover-image {
    width: 100%;
    height: 800px; // js読み込むまでアテで入れてる
    max-height: 1024px;
    background-position: center top;
    background-size: cover;
}

.header-container {
    background-color: rgba(255,255,255,.6);
    .container {
        position: relative;
        @include clearfix;
    }

    // ヘッダ黒の場合
    &.header-black {
        background-color: rgba(0,0,0,.6);
        color: #fff;
        a {
            color: #fff;
        }

        .icon-reorder {
            background-image: url('http://static.tumblr.com/xlsgtjb/rKynedane/icon-reorder-wh.png');
        }

    }
}

// permakinkの時はborderつける

.page-permalink .header-container.header-white {
    border-bottom: 1px solid $border;
}

.header-wrapper {
    display: table;
}

.header-box-title,
.header-box-nav {
    display: table-cell;
}

.header-box-title {
    vertical-align: middle;
}

.blog-title {
    margin: 0 1em 0 0;
    font-size: 160%;

    a {
        font-weight: normal;
        display: inline-block;
        padding: .5em 0;
    }
}

.nav {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        text-transform: uppercase;

        a {
            display: inline-block;
            padding: 2em 1em;
            text-decoration: none;
            color: $base;
            -webkit-transition: all .2s;
            transition: all .2s;

            &:hover {
                background-color: #fff;
                color: $link;
            }
        }
    }
}

.tag-list {
    display: none;
    background-color: rgba(0,0,0,.8);
    padding: 2em 0;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;

    h3 {
        font-size: 180%;
        @include section-header-border;
        margin-bottom: .5em;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: inline-block;
            margin-right: .5em;
            line-height: 2.5;
            color: $light;
            font-size: 85%;

            a {
                display: inline-block;
                color: $light;
                border: 1px solid $light;
                padding: .1em .5em;
                border-radius: .2em;
                margin-bottom: .5em;
                line-height: 1.4em;
                &:hover {
                    color: #fff;
                    text-decoration: none;
                    border-color: #fff;
                }

            }

        }
    }

    .container {
        position: relative;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        img {
            width: 30px;
            height: 30px;
        }
    }
}

.mobile-nav-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    .icon-reorder {
        cursor: pointer;
        background: url('http://static.tumblr.com/xlsgtjb/J8Lnedakk/icon-reorder.png') no-repeat center center;
        background-size: 22px 18px;
        font-size: 21px;
        width: 62px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        display: inline-block;
    }
}

// index

.section-profile {
    background-color: #dc3f5d;
    color: #fff;
    padding-top: 2.5em;
    padding-bottom: 4em;

    a {
        color: #fff;
        text-decoration: underline;
    }

    .section-header {
        &:after {
            background: #fff;
        }
    }
}

.profile-wrapper {
    display: table;
    width: 100%;

    .profile-content {
        display: table-cell;
        vertical-align: top;
    }

    h3 {
        margin-top: 0;
        margin-bottom: .8em;
    }

    .profile-image {
        display: table-cell;
        vertical-align: top;
        height: auto;
        background-size: cover;
        background-position: center;
        padding-right: 2em;
        width: 128px;

        img {
            border-radius: 128px;
        }

    }

}

.social-accounts {
    margin: 1em 0;
    padding: 0;

    li {
        display: inline-block;
        list-style: none;
        margin-right: 1em;
        padding: 0;
        vertical-align: middle;

        a {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 45px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            display: inline-block;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }

        img {
            vertical-align: middle;
            display: block;
            margin: auto;
            line-height: 100%;
            height: 100%;
        }
    }

}

.section-post {
    margin-top: 2.5em;
}

.index-post-wrapper {
    margin-left: -10px;
    margin-right: -10px;

    .post {
        z-index: 1;
        width: 33.3333%; // 幅960pxの場合

        img {
            max-width: 100%;
        }

        iframe {
            width: 100%;
            height: auto;
        }

    }

    .post-inner {
        padding: 10px;
    }

    .post-content {
        padding: 8px;
        background-color: $bg-light;
    }

    .entry-title {
        font-size: 140%;
        margin-top: 0;
    }

    .entry-content {
        font-size: 90%;
    }

    .quote {
        .short {
            font-size: 140%;
        }
    }

    .index-entry-footer {
        font-size: 80%;
        padding-top: .3em;
        margin-top: .3em;
        border-top: 1px solid $border;
        color: $light;
        a {
            color: $light;
        }
    }

    .icon-link {
        width: 12px;
        vertical-align: middle;
        margin-right: .2em;
    }

}

// infinite scroll で読込中のやつ
#infscr-loading {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100% !important;
    height: 50px !important;
    text-align: center;
    color: $light;
    font-size: 80%;
}

.spinner {
  margin: auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $link;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


// ページャ

.pagenation {
    margin: 3em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 95%;
    letter-spacing: .1em;

    a {
        display: inline-block;
        text-decoration: none;
        margin: 0 1em;
    }

}

// entry-content の中の書式

.entry-content {
    line-height: 1.8;
    word-wrap: break-word;

    p {
        margin: 0 0 1em 0;
    }

    img,
    video {
        max-width: 100%;
        height: auto;
    }

    // Flickr で max-width 指定したときのアスペクト比をなおす
     a[title*="Flickr"] img {
        height: auto !important;
     }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0 0.8em 0;
        line-height: 1.5;
    }

    h1 {
        font-size: 170%;
    }

    h2 {
        font-size: 160%;
    }

    h3 {
        font-size: 140%;
    }

    h4 {
        font-size: 130%;
    }

    h5 {
        font-size: 110%;
    }

    h6 {
        font-size: 100%;
    }

    ul,
    ol,
    dd {
        margin: 0 0 1em 1.5em;
        padding: 0;

        li {
            ul,ol {
                margin-bottom: 0;
            }
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-bottom: 1em;
        margin-bottom: 1em;
        width: 100%;
        overflow: auto;
        display: block;
    }

    table th,
    table td {
        border: 1px solid #ddd;
        padding: 5px 10px;
    }

    table th {
        background: #fafafa;
    }


    .hatena-asin-detail li {
        line-height: 1.4;
    }

    blockquote {
        margin: 1.5em 2em;
        padding: 5px 20px;
        border-left: 2px solid #aaa;
        color: #777;

        p:last-child {
            margin-bottom: 0;
        }

    }

    pre,
    code {
        font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
    }

    pre {
        padding: 15px;
        background: $bg-light;
        border: none;
        @include border-radius(3px);
        word-wrap: normal;
        overflow-x: auto;
        font-size: 100%;
        line-height: 1.3;

        &>code {
            margin: 0;
            padding: 0;
            white-space: pre;
            border: none;
            background-color: transparent;
            font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
        }
    }

    code {
        font-size: 90%;
        margin: 0 2px;
        padding: 0px 5px;
        border: 1px solid $border;
        background-color: #f7f7f2;
        border-radius: 3px;
    }

    .amazlet-box {
        border: 1px solid $border;
        padding: 15px;
        margin-bottom: 1em !important;
        @include border-radius(4px);
    }

    .sticky-itslink,
    .iTunesLinker-box {
        border: 1px solid $border;
        padding: 15px;
        margin-bottom: 1em;
        @include border-radius(4px);
    }

    // twilog

    .tl-tweet {
        margin-bottom: 10px;
        border-bottom: 1px dashed $border;
        padding-bottom: 10px;

        .tl-text {
            margin-bottom: 5px;
        }

        .tl-posted {
            font-size: 85%;
            color: $light;
            margin: 0;
        }
    }

    ul.tl-tweets {
        margin: 0 0 10px 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 10px;
            border-bottom: 1px dashed $border;
            padding-bottom: 10px;
        }
    }

    // gistでtableおかしいのを打ち消す
    .gist {
        table {
            margin: 0;
            border: 0;
            td {
                border: 0;
            }
        }
    }

    hr {
        width: 20%;
        margin: 3em auto;
        border: 0;
        border-top: 3px solid $border;
    }

}

// パーマリンク

.permalink-post {
    margin: 2.5em auto;
}

// photo, photoset, video
.full-image {
    text-align: center;
    margin-bottom: 2em;
    img {
        max-width: 100%;
    }
}

// Answer post

.answer {
    .question {
        border-radius: 5px;
        padding: 15px;
        font-size: 110%;
        background: $bg-light;
        margin-bottom: 1em;
        position: relative;
    }

    .asker-group {
        img {
            vertical-align: middle;
        }
    }
}


// link

.link {
    .entry-title {
        text-align: center;
    }
}
.link-url {
    display: block;
    background-color: $link;
    color: #fff;
    padding: 1.5em 0;
    &:hover {
        color: #fff;
    }
}


// 記事フッタ
.entry-footer {
    color: $light;
    font-size: 95%;
    margin-top: 3em;
    &:before {
        content: "";
        display: block;
        background: $light;
        width: 15px;
        height: 1px;
        margin-bottom: .5em;
    }

    a {
        color: $light;
        text-decoration: none;
        &:hover {
            color: $hover;
        }
    }

}

.entry-footer-section {
    margin-bottom: 3em;

    h3 {
        text-transform: uppercase;
        font-size: 110%;
        margin: 0 0 .8em 0;
        color: $base;
        &:after {
            @include section-line;
        }
    }
}

.article-meta {
    .meta-elements {
        margin-left: 1em;
        &:first-child {
            margin-left: 0;
        }
    }
}

.like_and_reblog_buttons {
    margin: 1em 0;
    padding: 0;
    display: table;

    > li {
        display: table-cell;
        text-align: center;
        padding-right: 1.5em;
        vertical-align: middle;

        .social-icon {
            width: 20px;
            height: auto;
            vertical-align: top;
        }

    }

}

.rebloggedfrom {
    display: table;
    width: 100%;
    table-layout: fixed;

    .entry-footer-section-inner {
        display: table-cell;
    }

    .favicon {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        vertical-align: middle;
    }

}

// tags

.hastags {
    .meta-elements {
        a {
            margin-right: .5em;
        }
    }
}

// notescount

.notecontainer {
    margin-bottom: 1em;

    .notes {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: .5em 0;
            border-bottom: 1px solid $border;
            color: $light;
            font-size: 90%;

            a {
                font-weight: bold;
                color: #777;
                text-decoration: none;
            }

            .avatar {
                max-height: 16px;
                width: auto;
                vertical-align: middle;
                @include border-radius(2px);
                margin-right: 3px;
            }

            blockquote {
                margin: 1em 1em 1em 0;
                padding-left: 1em;
                border-left: 3px solid #dfdfdf;

                a {
                    font-weight: normal;
                    color: $light;
                }
            }

        }

    }
}

// footer

.page-index {
    .footer-container {
        border-top: 1px solid $border;
        padding-top: 2em;
    }
}

#footer {
    padding: 2em 0;

    h4 {
        text-transform: uppercase;
        font-size: 100%;
        margin: 0 0 1.5em;

        &:after {
            @include section-line;
        }
    }

    .footer-content {
        font-size: 95%;
    }

    .profile {
        .profile-image-url {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            float: left;
            margin: 0 .5em .5em 0;
        }
    }

    .copyright {
        margin-top: 2em;
        padding-top: 2em;
        border-top: 1px solid $border;
        text-align: center;
        font-size: 85%;
        color: $light;
    }

    .install-button {
        margin-top: .5em;
        .btn {
            opacity: .8;
            padding: .5em .8em;
            font-size: 80%;
        }
    }
}

.page-permalink #footer {
    background-color: $bg-light;
}

// tag page

.page-tag {
    .cover-image {
        height: auto !important;
        background-image: none !important;
    }

    .section-profile {
        display: none;
    }
}